services/flows/.flows.json.backup
[{"id":"9602a786.50d2c","type":"tab","label":"EdgeFlow","disabled":false,"info":""},{"id":"f6f2187d.f17ca8","type":"tab","label":"CloudFlow","disabled":false,"info":""},{"id":"5a7cfff0.7e8bb8","type":"kafka-broker-secure","broker":"${kafka_brokers}","clientid":"macos-detection","security_protocol":"sasl_ssl","sasl_mechanism":"PLAIN","ssl_ca_location":"/certs","enable_ssl_certificate_verification":false},{"id":"7b41e693.b2d488","type":"twilio-api","name":"SMS","sid":"ACa04c6268f7b699fd889b4551b21ff445","from":"+1 312 629 4417"},{"id":"45750807.a87bd","type":"rdkafka-secure in","z":"f6f2187d.f17ca8","name":"Consumer","topic":"detection","cgroup":"node-red-rdkafka-secure","autocommit":true,"broker":"5a7cfff0.7e8bb8","x":160,"y":360,"wires":[["68ce165e.6f35c"]]},{"id":"5f030d66.967d4c","type":"switch","z":"f6f2187d.f17ca8","name":"CheckEvent","property":"payload.event","propertyType":"msg","rules":[{"t":"eq","v":"FireDetected","vt":"str"},{"t":"eq","v":"PersonDetected","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":510,"y":360,"wires":[["2bd6028b.cd8b56","b929e094.64ba88"],["18be9a10.dda6a6"]]},{"id":"133c31c5.dc3986","type":"twilio out","z":"f6f2187d.f17ca8","twilio":"7b41e693.b2d488","twilioType":"sms","url":"","number":"+919643989377","name":"SMSGurvinder","x":940,"y":180,"wires":[]},{"id":"b929e094.64ba88","type":"function","z":"f6f2187d.f17ca8","name":"FireDetected","func":"\nconst payload = msg.payload;\nconst text = payload.event + ' Event triggered with ' + payload.data.confidence + '% confidence.'\nmsg.payload = text;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":710,"y":180,"wires":[["133c31c5.dc3986"]],"inputLabels":["data"]},{"id":"18be9a10.dda6a6","type":"function","z":"f6f2187d.f17ca8","name":"PersonDetected","func":"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":760,"y":460,"wires":[["515c1d4e.9ed44c"]]},{"id":"515c1d4e.9ed44c","type":"debug","z":"f6f2187d.f17ca8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload.event","targetType":"msg","statusVal":"","statusType":"auto","x":970,"y":460,"wires":[]},{"id":"68ce165e.6f35c","type":"json","z":"f6f2187d.f17ca8","name":"","property":"payload","action":"","pretty":false,"x":330,"y":360,"wires":[["5f030d66.967d4c"]]},{"id":"f44b52ae.b42a8","type":"rdkafka-secure out","z":"9602a786.50d2c","name":"Producer","topic":"detection","key":"","partition":-1,"broker":"5a7cfff0.7e8bb8","x":380,"y":120,"wires":[]},{"id":"ccbcb8dd.d74c4","type":"inject","z":"9602a786.50d2c","name":"test_detection","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"detection","payload":"{\"event\":\"FireDetected\",\"metadata\":{\"deviceId\":\"\",\"deviceCategory\":\"\",\"tenantId\":\"ibm\",\"customerId\":\"f057feb8-4045-4e56-b521-c46168c43c06\"},\"data\":{\"class\":\"Fire\",\"confidence\":77}}","payloadType":"json","x":160,"y":120,"wires":[["f44b52ae.b42a8"]]},{"id":"51c9ebb4.82b28c","type":"debug","z":"9602a786.50d2c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":420,"y":240,"wires":[]},{"id":"fc49b5b2.b65b5","type":"http in","z":"9602a786.50d2c","name":"EventsEndpoint","url":"/event/detected","method":"post","upload":false,"swaggerDoc":"","x":140,"y":240,"wires":[["51c9ebb4.82b28c","f44b52ae.b42a8","f636c201.1fb5e8"]]},{"id":"f636c201.1fb5e8","type":"http response","z":"9602a786.50d2c","name":"Completed","statusCode":"","headers":{},"x":360,"y":360,"wires":[]},{"id":"2bd6028b.cd8b56","type":"function","z":"f6f2187d.f17ca8","name":"PostSlack","func":"\nconst payload = msg.payload;\nconst text = payload.event + ' Event triggered with ' + payload.data.confidence + '% confidence.'\nmsg.payload = text;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":720,"y":280,"wires":[["1d277365.8652fd"]]},{"id":"1d277365.8652fd","type":"slack","z":"f6f2187d.f17ca8","name":"","channelURL":"https://hooks.slack.com/services/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","username":"smartthings","emojiIcon":"","channel":"","x":900,"y":300,"wires":[]}]