services/flows/flows.json
[{"id":"9602a786.50d2c","type":"tab","label":"EdgeFlow","disabled":false,"info":""},{"id":"f6f2187d.f17ca8","type":"tab","label":"CloudFlow","disabled":false,"info":""},{"id":"5a7cfff0.7e8bb8","type":"kafka-broker-secure","broker":"broker-1-0lr3601j3vcp93dp.kafka.svc05.us-south.eventstreams.cloud.ibm.com:9093,broker-4-0lr3601j3vcp93dp.kafka.svc05.us-south.eventstreams.cloud.ibm.com:9093,broker-2-0lr3601j3vcp93dp.kafka.svc05.us-south.eventstreams.cloud.ibm.com:9093,broker-3-0lr3601j3vcp93dp.kafka.svc05.us-south.eventstreams.cloud.ibm.com:9093,broker-5-0lr3601j3vcp93dp.kafka.svc05.us-south.eventstreams.cloud.ibm.com:9093,broker-0-0lr3601j3vcp93dp.kafka.svc05.us-south.eventstreams.cloud.ibm.com:9093","clientid":"macos-detection","security_protocol":"sasl_ssl","sasl_mechanism":"PLAIN","ssl_ca_location":"./certs","enable_ssl_certificate_verification":false},{"id":"7b41e693.b2d488","type":"twilio-api","name":"SMS","sid":"ACa04c6268f7b699fd889b4551b21ff445","from":"+1 312 629 4417"},{"id":"45750807.a87bd","type":"rdkafka-secure in","z":"f6f2187d.f17ca8","name":"Consumer","topic":"detection","cgroup":"node-red-rdkafka-secure","autocommit":true,"broker":"5a7cfff0.7e8bb8","x":120,"y":160,"wires":[["68ce165e.6f35c"]]},{"id":"f5639aff.8ce898","type":"debug","z":"f6f2187d.f17ca8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":910,"y":160,"wires":[]},{"id":"5f030d66.967d4c","type":"switch","z":"f6f2187d.f17ca8","name":"CheckEvent","property":"payload.event","propertyType":"msg","rules":[{"t":"eq","v":"FireDetected","vt":"str"},{"t":"eq","v":"PersonDetected","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":470,"y":160,"wires":[["b929e094.64ba88"],["18be9a10.dda6a6"]]},{"id":"133c31c5.dc3986","type":"twilio out","z":"f6f2187d.f17ca8","twilio":"7b41e693.b2d488","twilioType":"sms","url":"","number":"+919643989377","name":"SMSGurvinder","x":920,"y":80,"wires":[]},{"id":"b929e094.64ba88","type":"function","z":"f6f2187d.f17ca8","name":"FireDetected","func":"\nconst data = msg.payload;\nconst sms = data.event + ' Event triggered on ' + data.device + ' with ' + data.result.confidence + '% confidence.'\nmsg.payload = sms;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":710,"y":80,"wires":[["133c31c5.dc3986","f5639aff.8ce898"]]},{"id":"18be9a10.dda6a6","type":"function","z":"f6f2187d.f17ca8","name":"PersonDetected","func":"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":720,"y":260,"wires":[["515c1d4e.9ed44c"]]},{"id":"515c1d4e.9ed44c","type":"debug","z":"f6f2187d.f17ca8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload.event","targetType":"msg","statusVal":"","statusType":"auto","x":930,"y":260,"wires":[]},{"id":"68ce165e.6f35c","type":"json","z":"f6f2187d.f17ca8","name":"","property":"payload","action":"","pretty":false,"x":290,"y":160,"wires":[["5f030d66.967d4c"]]},{"id":"f44b52ae.b42a8","type":"rdkafka-secure out","z":"9602a786.50d2c","name":"Producer","topic":"detection","key":"","partition":-1,"broker":"5a7cfff0.7e8bb8","x":380,"y":220,"wires":[]},{"id":"ccbcb8dd.d74c4","type":"inject","z":"9602a786.50d2c","name":"test_detection","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"detection","payload":"{\"event\":\"FireDetected\",\"device\":\"Rpi4\",\"result\":{\"class\":\"Fire\",\"confidence\":65}}","payloadType":"json","x":160,"y":220,"wires":[["f44b52ae.b42a8"]]},{"id":"51c9ebb4.82b28c","type":"debug","z":"9602a786.50d2c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":420,"y":340,"wires":[]},{"id":"fc49b5b2.b65b5","type":"http in","z":"9602a786.50d2c","name":"EventsEndpoint","url":"/event/detected","method":"post","upload":false,"swaggerDoc":"","x":140,"y":340,"wires":[["51c9ebb4.82b28c","f44b52ae.b42a8","f636c201.1fb5e8"]]},{"id":"f636c201.1fb5e8","type":"http response","z":"9602a786.50d2c","name":"Completed","statusCode":"","headers":{},"x":360,"y":460,"wires":[]}]